aiohttp==3.7.3
Flask==1.1.2
PyMySQL==0.10.1
loguru==0.5.3
requests==2.24.0
lxml==4.6.1
beautifulsoup4==4.9.3
bs4==0.0.1
geoip2==4.1.0
maxminddb==2.0.3
mysql-connector-python==8.0.22
mysqlclient==2.0.2
python-dateutil==2.7.3
netaddr==0.8.0
